<template>

  <div class="page" data-name="home">


    <div class="page-content">

      <div class="block-title">Student List</div>
      <div class="block list">
        <form id="add-student-form" action="/saveStudent">

          <ul>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Wallet Address</div>
                  <div class="item-input-wrap">
                    <input type="text" name="walletAddress" placeholder="Wallet Address" required validate>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">First Name</div>
                  <div class="item-input-wrap">
                    <input type="text" name="firstName" placeholder="First Name" required validate>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Last Name</div>
                  <div class="item-input-wrap">
                    <input type="text" name="lastName" placeholder="Last Name" required validate>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="row">
            <button class="button" @click="addStudentClick">Save</a>
          </div>

        </form>
      </div>



    </div>


  </div>

</template>

<script>
  // first we import super class
  import { SpaceComponent } from 'space-mvc'

  // we need to export extended class
  export default class extends SpaceComponent {

    // hooks
    beforeCreate() {
      this.addStudentClick = this.addStudentClick.bind(this);
    }
    mounted() {

    }

    beforeDestroy() {
    }

    addStudentClick(e) {
      this.submitForm(e, "#add-student-form")
    }

  }
</script>